/** FONT IMPORTS **/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

/** ZURB FOUNDATION **/
@import "settings";
@import "foundation";
@include foundation-everything;

/** Page Components **/
@import "partials/header";
@import "partials/main";

@import "partials/intro-block";

@import "partials/footer";

/** Overrides **/

body {
  background: $white;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-family: 'Montserrat', sans-serif;
	color: $light-gray;
}

.grid-padding-x {
  .cell {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}