.custserv-block {
  height: 500px;
  background-color: #186ca2;

  @include breakpoint(small down){
    height: auto;
  }

  .grid-container {
    height: 100%;
    .grid-x {
      height: 100%;
      position: relative;

      @include breakpoint(medium down){
        height: auto;
      }
      .cell {
        height: 100%;
        position: relative;

        @include breakpoint(medium down){
          height: auto;
        }
      }

      &.filters {
        .cell {
          @include breakpoint(medium down){
            &:first-child {
              padding-left: 0;
            }
            &:nth-child(2){
              padding: 0;
            }
            &:last-child {
              padding-right: 0;
            }
          }
          @include breakpoint(small down){
            &:first-child {
              padding-right: 0.5rem;
            }
            &:nth-child(2){
              padding-left: 0.5rem;
            }
            &:last-child {
              padding: 0;

              p {
                margin-bottom: 1rem;
              }
            }
            p {
              font-size: 0.75rem;
            }
          }
        }
      }
    }
  }

  h1 {
    font-weight: 700;
    margin-top: 2rem;
    font-size: 2.425rem;
    text-transform: uppercase;
    color: $white;

    @include breakpoint(small down) {
      font-size: 1.2rem;
    }
  }
  h2 {
    font-weight: 300;
    font-size: 1.4rem;
    color: $white;

    @include breakpoint(small down) {
      font-size: 1.2rem;
    }
  }
  hr {
    border-bottom: 1px solid #fff;
  }

  .cleanbadge {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .filters {
    text-align: center;

    .cell {
      height: 100px;
      
      img {
        height: 100px;
      }
    }
    p {
      color: $white;
      margin-bottom: 0;
    }
  }

  .buy-btn {
    margin: 30px 0 0;
    display: inline-block;

    @include breakpoint(small down){
      margin-bottom: 1rem;
    }

    a {  
      color: $white;
      font-weight: 700;
      font-size: 0.8rem;
      padding: 10px 10px;
      display: inline-block;
      transition: .1s ease-in-out;
      transition-property: color,background-color,background-position,border-color,box-shadow;

      @include breakpoint(small down) {
        padding: 10px 20px;
      }

      &.btn-wlmrt {
        background-color: $product-rust;
        &:hover {
          background-color: $product-rust-hover;
        }
      }
      &.btn-amzn {
        background-color: $product-blue;
        &:hover {
          background-color: $product-blue-hover;
        }
      }
    }
  }
}