.custserv-block {
  height: 425px;
  background-color: #186ca2;

  .grid-container {
    height: 100%;
    .grid-x {
      height: 100%;
      position: relative;
      .cell {
        height: 100%;
        position: relative;
      }
    }
  }

  h1 {
    font-weight: 700;
    margin-top: 2rem;
    font-size: 2.425rem;
    text-transform: uppercase;
    display: inline-block;
    color: $white;

    @include breakpoint(small down) {
      font-size: 1.2rem;
    }
  }
  h2 {
    font-weight: 300;
    font-size: 1.4rem;
    display: inline-block;
    color: $white;

    @include breakpoint(small down) {
      font-size: 1.2rem;
    }
  }
  hr {
    border-bottom: 1px solid #fff;
  }

  .cleanbadge {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .filters {
    text-align: center;

    .cell {
      height: 100px;
      
      img {
        height: 100px;
      }
    }
    p {
      color: $white;
    }
  }
}