.threeinone-block {
  height: 400px;
  background-color: #212122;

  .grid-container {
    height: 100%;
    .grid-x {
      height: 100%;
      position: relative;
      .cell {
        height: 100%;
        position: relative;
      }
    }
  }

  h1 {
    font-weight: 700;
    margin-top: 20px;
    font-size: 1.8rem;
    color: $white;

    @include breakpoint(small down) {
      font-size: 1.2rem;
    }
  }
}